<a href="https://colab.research.google.com/github/Vaibhav911/Rainfall-Pattern-Analysis/blob/master/Data_Mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Cleaning

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Import Data File

In [0]:
from google.colab import files
uploaded = files.upload()

Saving Sub_Division_IMD_2017.csv to Sub_Division_IMD_2017.csv

In [0]:
data = pd.read_csv("Sub_Division_IMD_2017.csv")
# data = data.replace(0, np.nan) replace all 0s with Nan
data = pd.DataFrame(data)
data

                    SUBDIVISION  YEAR   JAN    FEB  ...     JF    MAM    JJAS    OND
0     Andaman & Nicobar Islands  1901  49.2   87.1  ...  136.3  560.3  1696.3  980.3
1     Andaman & Nicobar Islands  1902   0.0  159.8  ...  159.8  458.3  2185.9  716.7
2     Andaman & Nicobar Islands  1903  12.7  144.0  ...  156.7  236.1  1874.0  690.6
3     Andaman & Nicobar Islands  1904   9.4   14.7  ...   24.1  506.9  1977.6  571.0
4     Andaman & Nicobar Islands  1905   1.3    0.0  ...    1.3  309.7  1624.9  630.8
...                         ...   ...   ...    ...  ...    ...    ...     ...    ...
4183                Lakshadweep  2013  26.2   34.4  ...   60.6  131.1  1057.0  177.6
4184                Lakshadweep  2014  53.2   16.1  ...   69.3   76.7   958.5  290.5
4185                Lakshadweep  2015   2.2    0.5  ...    2.7  223.9   860.9  555.4
4186                Lakshadweep  2016  59.6   12.1  ...   71.7   83.2   745.4  165.4
4187                Lakshadweep  2017  21.3    0.9  ...   22.2  247.8  1108.3  360.7

[4188 rows x 19 columns]

In [0]:
months = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']
subdivs = data.SUBDIVISION.unique()
print(subdivs)

['Andaman & Nicobar Islands' 'Arunachal Pradesh' 'Assam & Meghalaya'
 'Naga Mani Mizo Tripura' 'Sub Himalayan West Bengal & Sikkim'
 'Gangetic West Bengal' 'Orissa' 'Jharkhand' 'Bihar' 'East Uttar Pradesh'
 'West Uttar Pradesh' 'Uttarakhand' 'Haryana Delhi & Chandigarh' 'Punjab'
 'Himachal Pradesh' 'Jammu & Kashmir' 'West Rajasthan' 'East Rajasthan'
 'West Madhya Pradesh' 'East Madhya Pradesh' 'Gujarat Region'
 'Saurashtra & Kutch' 'Konkan & Goa' 'Madhya Maharashtra' 'Matathwada'
 'Vidarbha' 'Chhattisgarh' 'Coastal Andhra Pradesh' 'Telangana'
 'Rayalseema' 'Tamil Nadu' 'Coastal Karnataka' 'North Interior Karnataka'
 'South Interior Karnataka' 'Kerala' 'Lakshadweep']

*Median* of each region for each month. 
<br>
Here, each column refers to a region. And each row refers to a month. 
<br>
<br>
**Note**: All the means are calculated ignoring **NaN**

In [0]:
data_median = {}
for div in subdivs:
  region_median = []
  for month in months:
    region_median.append(round(data[data["SUBDIVISION"] == div][month].median(), 2)) #doing round off till 2 digits
  data_median[div] = region_median
pd.DataFrame(data_median)

    Andaman & Nicobar Islands  Arunachal Pradesh  ...  Kerala  Lakshadweep
0                       32.10              38.90  ...     6.0        13.80
1                       12.65              85.15  ...     8.4         4.10
2                       12.15             139.90  ...    28.3         5.30
3                       54.80             246.90  ...   108.4        32.15
4                      317.30             306.90  ...   190.6       145.85
5                      450.25             530.55  ...   625.8       326.15
6                      379.50             609.35  ...   687.3       271.50
7                      376.40             400.00  ...   385.2       198.10
8                      428.80             383.70  ...   223.9       156.00
9                      276.35             172.70  ...   282.6       154.30
10                     229.95              25.40  ...   153.0       107.85
11                     115.20              15.70  ...    31.1        42.55

[12 rows x 36 columns]

In [0]:
data.iloc[9]["JAN": "DEC"]
count = 0
month_num = 0
for index, row in data.iterrows():
  month_num = 0
  for month in months:
    if pd.isnull(data.iloc[index][month]):
      data.at[index, month] = data_median[row['SUBDIVISION']][month_num]
    month_num += 1

# printing data with missing values filled as median
# data

Stratified sampling with replacement

In [0]:
strat_data = []
for div in subdivs:
  strat_data.append((data[data.SUBDIVISION == div]).sample(n=10, replace=True))
strat_data = pd.concat(strat_data)
strat_data

                    SUBDIVISION  YEAR    JAN  ...    MAM    JJAS     OND
103   Andaman & Nicobar Islands  2009   24.5  ...  493.7  1627.1   386.9
72    Andaman & Nicobar Islands  1978  109.6  ...  425.9  1775.9   371.6
45    Andaman & Nicobar Islands  1951   82.7  ...  304.4  1747.4  1133.4
64    Andaman & Nicobar Islands  1970   72.2  ...  488.7  1738.2  1037.7
32    Andaman & Nicobar Islands  1934    7.3  ...  200.3  2717.9   624.4
...                         ...   ...    ...  ...    ...     ...     ...
4119                Lakshadweep  1949    2.2  ...  374.9  1288.2     NaN
4169                Lakshadweep  1999   47.8  ...  455.6   946.2   405.2
4175                Lakshadweep  2005   17.6  ...  129.8  1007.8   409.1
4080                Lakshadweep  1909   70.4  ...  175.0   800.3   417.8
4147                Lakshadweep  1977    1.4  ...  300.9  1014.1   493.6

[360 rows x 19 columns]

Min-Max Normalization
<br>
<br>
**Note**: Normalization done on a copy data set

In [0]:
data_norm = data.copy()
data_monthly_only = data_norm[months]
data_norm[months] = (data_monthly_only - data_monthly_only.min()) / (data_monthly_only.max() - data_monthly_only.min())
data_norm

                    SUBDIVISION  YEAR       JAN  ...    MAM    JJAS    OND
0     Andaman & Nicobar Islands  1901  0.084290  ...  560.3  1696.3  980.3
1     Andaman & Nicobar Islands  1902  0.000000  ...  458.3  2185.9  716.7
2     Andaman & Nicobar Islands  1903  0.021758  ...  236.1  1874.0  690.6
3     Andaman & Nicobar Islands  1904  0.016104  ...  506.9  1977.6  571.0
4     Andaman & Nicobar Islands  1905  0.002227  ...  309.7  1624.9  630.8
...                         ...   ...       ...  ...    ...     ...    ...
4183                Lakshadweep  2013  0.044886  ...  131.1  1057.0  177.6
4184                Lakshadweep  2014  0.091143  ...   76.7   958.5  290.5
4185                Lakshadweep  2015  0.003769  ...  223.9   860.9  555.4
4186                Lakshadweep  2016  0.102107  ...   83.2   745.4  165.4
4187                Lakshadweep  2017  0.036491  ...  247.8  1108.3  360.7

[4188 rows x 19 columns]

State-wise aggregation of dataset

In [0]:
data_aggr = []
for div in subdivs:
  data_aggr.append(data[data['SUBDIVISION'] == div][months].mean())
data_aggr = pd.DataFrame(data_aggr)
data_aggr.insert(0, 'SUBDIVISION', subdivs)
data_aggr

                           SUBDIVISION         JAN  ...         NOV         DEC
0            Andaman & Nicobar Islands   54.382143  ...  233.018182  157.466972
1                    Arunachal Pradesh   46.716327  ...   35.149485   24.079381
2                    Assam & Meghalaya   16.860684  ...   26.892308    8.955556
3               Naga Mani Mizo Tripura   13.864957  ...   46.870085   12.783761
4   Sub Himalayan West Bengal & Sikkim   14.045299  ...   15.846154    5.967521
5                 Gangetic West Bengal   12.476923  ...   21.561538    5.712821
6                               Orissa   12.152137  ...   27.829060    5.517949
7                            Jharkhand   17.471795  ...   11.739316    4.856410
8                                Bihar   13.242735  ...    7.055556    3.631624
9                   East Uttar Pradesh   15.866667  ...    4.511966    5.677778
10                  West Uttar Pradesh   17.570085  ...    3.898291    7.006838
11                         Uttarakhand   53.236752  ...    8.049573   21.845299
12          Haryana Delhi & Chandigarh   16.893162  ...    3.223932    7.107692
13                              Punjab   25.232479  ...    4.117949   12.638462
14                    Himachal Pradesh   84.257265  ...   16.469231   39.640171
15                     Jammu & Kashmir  102.764957  ...   23.814655   55.225000
16                      West Rajasthan    3.323077  ...    1.643590    1.885470
17                      East Rajasthan    6.389744  ...    4.794017    3.617949
18                 West Madhya Pradesh    9.167521  ...   12.133333    6.205983
19                 East Madhya Pradesh   19.282051  ...   12.494017    8.260684
20                      Gujarat Region    1.755556  ...    6.810256    1.410256
21                  Saurashtra & Kutch    1.120513  ...    5.992308    1.100855
22                        Konkan & Goa    1.241026  ...   24.272650    4.653846
23                  Madhya Maharashtra    3.002564  ...   25.553846    5.800000
24                          Matathwada    4.915385  ...   22.073504    7.202564
25                            Vidarbha   10.390598  ...   15.311111    7.792308
26                        Chhattisgarh   14.023932  ...   11.572650    5.158974
27              Coastal Andhra Pradesh    7.377778  ...   77.082906   11.550427
28                           Telangana    7.581197  ...   19.924786    5.057265
29                          Rayalseema    9.800000  ...  101.229915   34.202564
30                          Tamil Nadu   23.752137  ...  175.377778   81.146154
31                   Coastal Karnataka    1.918103  ...   62.809402   12.508547
32            North Interior Karnataka    2.964103  ...   28.776923    6.235897
33            South Interior Karnataka    2.952137  ...   53.696581   11.651282
34                              Kerala   12.171795  ...  162.558974   39.980342
35                         Lakshadweep   27.721930  ...  123.439091   61.821429

[36 rows x 13 columns]

Regions

In [0]:
reg_n = ['West Uttar Pradesh', 'Uttarakhand', 'Haryana Delhi & Chandigarh', 'Punjab', 'Himachal Pradesh', 'Jammu & Kashmir']
reg_s = ['Konkan & Goa', 'Coastal Andhra Pradesh', 'Telangana', 'Rayalseema', 'Tamil Nadu', 'Coastal Karnataka', 'North Interior Karnataka', 'South Interior Karnataka', 'Kerala', 'Lakshadweep']
reg_e = ['Arunachal Pradesh', 'Assam & Meghalaya', 'Naga Mani Mizo Tripura', 'Sub Himalayan West Bengal & Sikkim', 'Gangetic West Bengal']
reg_w = ['West Rajasthan', 'East Rajasthan', 'West Madhya Pradesh', 'Gujarat Region', 'Saurashtra & Kutch']
reg_c = ['Orissa', 'Jharkhand', 'Bihar', 'East Uttar Pradesh', 'East Madhya Pradesh', 'Madhya Maharashtra', 'Matathwada', 'Vidarbha', 'Chhattisgarh']
regions = [reg_n, reg_s, reg_e, reg_w, reg_c]

Discretization

In [0]:
discretized_df=data.copy()
k=3
temp=0
sub_divs=data['SUBDIVISION'].unique()
#print(sub_divs)
for div in sub_divs:
  temp_df=data.loc[data['SUBDIVISION'] == div]
  for i in data.columns:
    if i=='SUBDIVISION' or i=='YEAR':
      continue
    #print(i)
    max_val=temp_df[i].max()
    min_val=temp_df[i].min()
    delta=(max_val-min_val)/3
    for j in range(temp_df.shape[0]):
      if(discretized_df.loc[j+temp,i]<=min_val+delta):
        discretized_df.loc[j+temp,i]='low'
      elif(discretized_df.loc[j+temp,i]<=min_val+2*delta):
        discretized_df.loc[j+temp,i]='medium'
      else:
        discretized_df.loc[j+temp,i]='high'
  temp+=temp_df.shape[0]
print(discretized_df)

                    SUBDIVISION  YEAR  JAN     FEB  ...   JF     MAM    JJAS     OND
0     Andaman & Nicobar Islands  1901  low  medium  ...  low  medium  medium    high
1     Andaman & Nicobar Islands  1902  low    high  ...  low     low    high  medium
2     Andaman & Nicobar Islands  1903  low    high  ...  low     low  medium  medium
3     Andaman & Nicobar Islands  1904  low     low  ...  low  medium  medium     low
4     Andaman & Nicobar Islands  1905  low     low  ...  low     low     low     low
...                         ...   ...  ...     ...  ...  ...     ...     ...     ...
4183                Lakshadweep  2013  low     low  ...  low     low  medium     low
4184                Lakshadweep  2014  low     low  ...  low     low  medium     low
4185                Lakshadweep  2015  low     low  ...  low     low     low  medium
4186                Lakshadweep  2016  low     low  ...  low     low     low     low
4187                Lakshadweep  2017  low     low  ...  low     low  medium  medium

[4188 rows x 19 columns]

Removing Noisy Data

In [0]:
no_of_intervals=10
without_noise_df=data.copy()
#print(without_noise_df)
temp=0
sub_divs=without_noise_df['SUBDIVISION'].unique()
for div in sub_divs:
  #print('div')
  temp_df=data.loc[data['SUBDIVISION'] == div]
  for i in months:
    #print(i)
    if i=='SUBDIVISION' or i=='YEAR':
      continue
    lis=temp_df[i].tolist()
    #print(lis)
    lis.sort()
    median=[]
    num=temp_df.shape[0]//no_of_intervals+1
    start=0
    end=num
    for k in range(no_of_intervals-1):
      median.append(np.median(lis[start:end+1]))
      start=end+1
      end+=num
    median.append(lis[start:])
    #print(median)
    for j in range(temp_df.shape[0]):
      temp1=lis.index(without_noise_df.loc[j+temp,i])
      without_noise_df.loc[j+temp,i]=median[temp1//(num+1)]
  temp+=temp_df.shape[0]
  #print(temp)
print(without_noise_df)
#print(data)

                    SUBDIVISION  YEAR    JAN  ...    MAM    JJAS    OND
0     Andaman & Nicobar Islands  1901  50.05  ...  560.3  1696.3  980.3
1     Andaman & Nicobar Islands  1902   0.00  ...  458.3  2185.9  716.7
2     Andaman & Nicobar Islands  1903  11.90  ...  236.1  1874.0  690.6
3     Andaman & Nicobar Islands  1904   7.25  ...  506.9  1977.6  571.0
4     Andaman & Nicobar Islands  1905   0.00  ...  309.7  1624.9  630.8
...                         ...   ...    ...  ...    ...     ...    ...
4183                Lakshadweep  2013  22.50  ...  131.1  1057.0  177.6
4184                Lakshadweep  2014  44.05  ...   76.7   958.5  290.5
4185                Lakshadweep  2015   2.05  ...  223.9   860.9  555.4
4186                Lakshadweep  2016  44.05  ...   83.2   745.4  165.4
4187                Lakshadweep  2017  17.80  ...  247.8  1108.3  360.7

[4188 rows x 19 columns]